<div class="row p-2 justify-content-center">
  <div class="col-auto">
    <h2>Create Your Character</h2>
  </div>
</div>


<div class="container">
  <form class="createCharacter-form">
  
    <fieldset>
      <div class="d-flex p-2 justify-content-evenly">                           {{!-- Row 1 --}}
                                                                                {{!-- Name/Level --}}
        <div class="form-group">
          <label for="character-name">Character's name:</label>
          <input class="form-input" type="text" id="character-name" />
        </div>

        <div class="form-group">
          <label for="level">Level:</label>
          <input class="form-input" type="text" id="level" />
        </div>
      </div>
      
                                                                              {{!--Row 2 Col 1--}}
      <div class="row justify-content-evenly">
                                                                              {{!-- Ability Scores --}}
        <div class="col-3 border p-2 m-2">
          
          <h3 class="text-center">Ability Scores</h3>

          <div class="form-group m-2">
            <label for="strength">Strength:</label>
            <input class="form-input" type="text" id="strength" />
          </div>

          <div class="form-group m-2">
            <label for="dexterity">Dexterity:</label>
            <input class="form-input" type="text" id="dexterity" />
          </div>

          <div class="form-group m-2">
            <label for="constitution">Constitution:</label>
            <input class="form-input" type="text" id="constitution" />
          </div>

          <div class="form-group m-2">
            <label for="intelligence">Intelligence:</label>
            <input class="form-input" type="text" id="intelligence" />
          </div>

          <div class="form-group m-2">
            <label for="wisdom">Wisdom:</label>
            <input class="form-input" type="text" id="wisdom" />
          </div>

          <div class="form-group m-2">
            <label for="charisma">Charisma:</label>
            <input class="form-input" type="text" id="charisma" />
          </div>
        </div>
                                                                              {{!--Row 2 Col 2--}}
        <div class="border col-3 p-2 m-2 text-center">
          <h3>Race</h3>
          <label for="race">Select a race</label>
          <select name="race" id="race">
          {{#each race}}    
          <option>{{this.name}}</option>
          {{/each}}
          </select>
          {{#each race}}
          <p class="mt-2 border-top">{{this.description}}</p>
          {{/each}}
        </div>

        <div class="border col-3 p-2 m-2 text-center">
          <h3>Background</h3>
          <label for="background">Select a background</label>
          <select name="background" id="background">
          {{#each background}}                 {{!--passing in object from JS in controller--}}
          <option>{{this.name}}</option>
          {{/each}}
          </select>
          {{#each background}}
          <p class="mt-2 border-top">{{this.description}}</p>
          {{/each}}
        </div>

        <div class="border col-6 p-2 m-2 text-center">
          <h3>Class</h3>
          <label for="class">Select a class</label>
          <select name="class" id="class">
          {{#each role}}    
          <option>{{this.name}}</option>
          {{/each}}
          </select>
          {{#each role}}
          <p class="mt-2 border-top">{{this.description}}</p>
          {{/each}}
        </div>
      </div>
      <div class="form-group text-center">                        {{!--Row 3--}}
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </fieldset>
  
  </form>
 
</div>
 


<script src="./js/createCharacter.js"></script>
