{{!--TO DO: Figure out the getting the data part. Add Styling
            For the nav bar list element, when they get loaded 
            turn each into an anchor or button element to pull up the data - Check DB and get info from there
--}}


<div>       {{!--Row--}}
    <div>       {{!--Col 1--}}
        <nav>
            <ul>
                {{#each Character as |character|}}              {{!--Gets list of characters created by this user--}}
                    <li>{{character.name}}</li>
                    <button>View</button>
                    <button>Delete</button>
                {{/each}}              {{!--How can I access the information of that character in the other div element--}}
            </ul>
        </nav>
    </div>
    <div>                   {{!--Col 2--}}
        <div>
            <h2>{{character_name}}</h2>
            <p>{{level}}</p>                {{!--Look at Concat helper in Handlebars--}}
        </div>

        <div>
            <nav>                           {{!--Horizontal list. Add spacing between each div--}}
                <h2>{{race}}</h2>
                <h2>{{class}}</h2>
                <h2>{{background}}</h2>
            </nav>
        </div>

        <div>
            <h2>Abilities</h2>
            <div>
                <p>Strength</p>
                <p>{{strength}}</p>         
            </div>

            <div>
                <p>Dexterity</p>
                <p>{{dexterity}}</p>
            </div>

            <div>
                <p>Constitution</p>
                <p>{{constitution}}</p>
            </div>

            <div>
                <p>Intelligence</p>
                <p>{{intelligence}}</p>
            </div>

            <div>
                <p>Wisdom</p>
                <p>{{wisdom}}</p>
            </div>

            <div>
                <p>Charisma</p>
                <p>{{charisma}}</p>
            </div>
        </div>

        <div>
            <button>Delete</button>
        </div>
    </div>
</div>