    <div class="container-fluid m-2 p-2">
    {{#each characters}}
        <div class="row border m-2 p-2 rounded-pill">
            {{!-- Row 1 / Character Options --}}
            <div class="row text-center">
                <div class="col m-2 p-2">
                    <div>Name</div>
                    <div class="border-top">{{this.name}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Level</div>
                    <div class="border-top">{{this.level}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Race</div>
                    <div class="border-top">{{this.race.name}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Background</div>
                    <div class="border-top">{{this.background.name}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Class</div>
                    <div class="border-top">{{this.class.name}}</div>
                </div>
            </div>
            {{!-- Row 2 / Ability Scores --}}
            <div class="row text-center">
                <div class="col m-2 p-2">
                    <div>Strength</div>
                    <div class="border-top">{{this.strength}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Dexterity</div>
                    <div class="border-top">{{this.dexterity}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Constitution</div>
                    <div class="border-top">{{this.constitution}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Intelligence</div>
                    <div class="border-top">{{this.intelligence}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Wisdom</div>
                    <div class="border-top">{{this.wisdom}}</div>
                </div>
                <div class="col m-2 p-2">
                    <div>Charisma</div>
                    <div class="border-top">{{this.charisma}}</div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>